@page "/useradd"
@page "/useradd/{Id}"

<h1>UserAdd</h1>

<EditForm Model="@userrequest">
    <table class="table">
        <tr>
            <td>Nombre:</td>
            <td> <input type="text" @bind="userrequest.Nombre" /> </td>
        </tr>
        <tr>
            <td>Apellido:</td>
            <td> <input type="text" @bind="userrequest.Apellido" /> </td>
        </tr>
        <tr>
            <td>Correo:</td>
            <td> <input type="email" @bind="userrequest.Correo" /> </td>
        </tr>
        <tr>
            <td>Contraseña:</td>
            <td> <input type="password" @bind="userrequest.Contrasena" /> </td>
        </tr>
        <tr>
            <td>Rol:</td>
            <td>
                <select name="select" @bind="userrequest.Rol">
                    <option selected>Selecionar</option>
                    <option value=0>User</option>
                    <option value=2>Admin</option>
                    <option value=4>Op</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Save" @onclick="SaveUser" />
                <input type="button" value="Cancel" @onclick="CancelUser" />
            </td>
        </tr>
    </table>
</EditForm>

@code{
    [Parameter]
    public string Id { get; set; }

    UserRequestDto userrequest = new UserRequestDto();
    protected async Task SaveUser()
    {
        if (string.IsNullOrEmpty(Id))
        {
            userrequest.FechaRegistro = DateTimeOffset.Now;
            await FachadaUserService.UserManagementInsert(userrequest).ConfigureAwait(true);
        }
        else
        {
            await FachadaUserService.UserManagementUpdate(userrequest).ConfigureAwait(true);
        }
        NavigationManager.NavigateTo("/userlist");
    }
    protected void CancelUser()
    {
        NavigationManager.NavigateTo("/userlist");
    }
    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Id))
        {
            userrequest.FechaRegistro = DateTimeOffset.Now;
        }
        else
        {
            //TODO: Preguntar si en esta interfaz grafica tambien se pone true?
            userrequest.UsuarioId = Guid.Parse(Id);
            userrequest = await FachadaUserService.UserManagementGet(userrequest).ConfigureAwait(true);
        }
    }
}