@page "/userlist"

<h3>UserList</h3>
@if (userrequest == null)
{
    <p> <em> Loading... </em> </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Correo</td>
                <td>Fecha Registro</td>
                <td>Rol</td>
                <td>  </td>
                <td>  </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in userrequest)
            {
                <tr>
                    <td>@user.Nombre</td>
                    <td>@user.Apellido</td>
                    <td>@user.Correo</td>
                    <td>@user.FechaRegistro</td>
                    <td>
                        <select name="select" disabled>
                            @switch (user.Rol)
                            {
                                case 0:
                                    <option selected>User</option>
                                    break;
                                case 2:
                                    <option selected>Admin</option>
                                    break;
                                case 4:
                                    <option selected>Op</option>
                                    break;
                                default:
                                    <option>Selecionar</option>
                                    break;
                            }
                        </select>
                    </td>
                    <td> <a href="/useradd/@user.UsuarioId"> <i> Edit </i> </a> </td>
                    <td> <a href="/userdelet/@user.UsuarioId"> <i> Delete </i> </a> </td>
                </tr>
            }
        </tbody>

    </table>
}

@code {
    private IEnumerable<UserRequestDto> userrequest;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            userrequest = await FachadaUserService.UserManagementGetAll();
        }
        catch (Exception)
        {
            throw;
        }
    }
}
