@page "/filmdetailsht"
@page "/filmdetailsht/{Id}"
@inject HttpClient Http
<h1>FilmDetails</h1>

Film Details

<EditForm Model="@filmrequest">
    <table class="table">
        <tr>
            <td>Title:</td>
            <td> <input type="text" @bind="filmrequest.Title" /> </td>
        </tr>
        <tr>
            <td>Director:</td>
            <td> <input type="text" @bind="filmrequest.Director" /> </td>
        </tr>
        <tr>
            <td>Fecha:</td>
            <td> <input type="text" @bind="filmrequest.ReleaseDate" /> </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Save" @onclick="SaveFilm" />
                <input type="button" value="Cancel" @onclick="CancelFilm" />
            </td>
        </tr>
    </table>
</EditForm>

@code{
    [Parameter]
    public string Id { get; set; }

    //FilmRequestDto filmrequest = new FilmRequestDto();
    private FilmRequestDto filmrequest;

    protected async void SaveFilm()
    {
        if (string.IsNullOrEmpty(Id))
        {
            //await HttpGenericBaseClient.Post<FilmRequestDto, FilmRequestDto>("Film/InsertFilm", filmrequest).ConfigureAwait(true);
            //await FilmService.Agregar(filmrequest).ConfigureAwait(true);
        }
        else
        {
            //await FilmService.ActualizarFilm(filmrequest).ConfigureAwait(true);
        }
        NavigationManager.NavigateTo("/filmlist");
    }
    protected void CancelFilm()
    {
        NavigationManager.NavigateTo("/filmlist");
    }
    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Id))
        {
            //filmrequest.ReleaseDate = DateTimeOffset.Now;
        }
        else
        {
            //filmrequest = await FilmService.GetFilmByFilm(Guid.Parse(Id)).ConfigureAwait(true);
        }
    }
}
