@page "/filmdelet/{id}"
@using System;
@using Blazor.Aplicacion.Dto.FilmDto
@using Blazor.Aplicacion.Core.FilmServices
@inject IFilmService FilmService
@inject NavigationManager NavigationManager
<h1>FilmDelete</h1>

<p style="color:darkred;text-align:center"> Are you sure </p>
<EditForm Model="@filmrequest">
    <table class="table">
        <tr>
            <td>Title:</td>
            <td> <input type="text" @bind="filmrequest.Title" /> </td>
        </tr>
        <tr>
            <td>Director:</td>
            <td> <input type="text" @bind="filmrequest.Director" /> </td>
        </tr>
        <tr>
            <td>Fecha:</td>
            <td> <input type="text" @bind="filmrequest.ReleaseDate" /> </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Delete" @onclick="DeleteFilm" />
                <input type="button" value="Cancel" @onclick="CancelFilm" />
            </td>
        </tr>
    </table>
</EditForm>
@code {
    [Parameter]
    public string Id { get; set; }

    FilmRequestDto filmrequest = new FilmRequestDto();

    protected void CancelFilm()
    {
        NavigationManager.NavigateTo("/filmlist");
    }
    protected void DeleteFilm()
    {
        FilmService.Eliminar(filmrequest);
        NavigationManager.NavigateTo("/filmlist");
    }
    protected override async Task OnInitializedAsync()
    {
        filmrequest = FilmService.GetFilmByFilm(Guid.Parse(Id));
    }
}
