@page "/filmdetails"
@page "/filmdetails/{Id}"
@using System;
@using Blazor.Aplicacion.Dto.FilmsDto
@using Blazor.Aplicacion.Core.FilmServices
@inject IFilmService FilmService
@inject NavigationManager NavigationManager
@*@using Syncfusion.Blazor.Inputs;*@
@*@using Syncfusion.Blazor.Buttons;*@
<h1>FilmDetails</h1>

Film Details

<EditForm Model="@filmrequest">
    <table class="table">
        <tr>
            <td>Title:</td>
            <td>
                <input type="text" @bind="filmrequest.Title" />
                @*<SfTextBox Placeholder="Nombre de la pelicula" @bind-Value="filmrequest.Title" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>*@
            </td>
        </tr>
        <tr>
            <td>Director:</td>
            <td> <input type="text" @bind="filmrequest.Director" /> </td>
        </tr>
        <tr>
            <td>Fecha:</td>
            <td> <input type="text" @bind="filmrequest.ReleaseDate" /> </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Save" @onclick="SaveFilm" />
                <input type="button" value="Cancel" @onclick="CancelFilm" />
                @*<SfButton @onclick="CancelFilm">Cancel</SfButton>*@
            </td>
        </tr>
    </table>
</EditForm>

@code{
    [Parameter]
    public string Id { get; set; }

    FilmRequestDto filmrequest = new FilmRequestDto();
    protected void SaveFilm()
    {
        if (string.IsNullOrEmpty(Id))
        {
            FilmService.Agregar(filmrequest);
        }
        else
        {
            FilmService.ActualizarFilm(filmrequest);
        }
        NavigationManager.NavigateTo("/filmlist");
    }
    protected void CancelFilm()
    {
        NavigationManager.NavigateTo("/filmlist");
    }
    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Id))
        {
            filmrequest.ReleaseDate = DateTimeOffset.Now;
        }
        else
        {
            filmrequest = FilmService.GetFilmByFilm(Guid.Parse(Id));
        }
    }
}